<section id="editar-ambulancia" class="d-flex flex-column">

  <h3 class="text-center mt-5">Editar Ambulância</h3>
  <div class="action container p-0">
    <button class="btn btn-secondary" routerLink="../">Voltar</button>
  </div>

  <mat-card class="container align-self-center mt-2 shadow">
    <mat-card-content>

      <form [formGroup]="formAmbulancia" id="editar-ambulancia-form">
        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="placa" class="form-label" >Placa:</label>
            <input type="text" name="placa" id="placa" class="form-control" placeholder="ABC-1234"
             formControlName="placa" mask="AAA-AAAA" oninput="this.value = this.value.toUpperCase()">
          </div>
          <div class="form-group col">
            <label for="estadoAmbulancia" class="form-label" >Disponibilidade:</label>
            <input type="text" name="estadoAmbulancia" id="estadoAmbulancia" class="form-control indis"
             formControlName="estadoAmbulancia" readonly>
          </div>
        </div>

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="latitude" class="form-label" >Latitude:</label>
            <input type="number" name="placa" id="placa" class="form-control" placeholder="99.999999"
            formControlName="latitude" readonly>
          </div>
          <div class="form-group col">
            <label for="longitude" class="form-label" >Longitude:</label>
            <input type="number" name="longitude" id="longitude" class="form-control" placeholder="99.999999"
             formControlName="longitude" readonly>
          </div>
        </div>
        <div class="action mt-3 d-flex flex-column align-items-center">
          <button class="btn btn-primary" (click)="validateForm(formAmbulancia)"> Salvar </button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</section>
