<header id="header">
  <div class="items h-100 d-flex justify-content-between w-100">

    <div class="d-flex flex-column justify-content-center align-items-center mx-3 teste">
      <div class="aviso">
        <div class="bolinha">
            1
        </div>
    </div>
      <span class="material-symbols-outlined cursor-pointer" id="notifications"> notifications </span>
    </div>

    <div class="user align-self-center">
      <div class="user-info mt-1 d-flex align-items-center cursor-pointer gap-1 p-2" [matMenuTriggerFor]="userOptions">
        <!--<span>{{usuario.nome}}</span>-->
        <span class="material-symbols-outlined font-30" style="font-variation-settings: 'FILL' 1;">account_circle</span>
      </div>

      <mat-menu #userOptions xPosition="before">
        <div mat-menu-item>
          <div class="d-flex align-items-center">
            <span>Altera Senha</span>&nbsp;
            <span class="material-symbols-outlined">key</span>
          </div>
        </div>
        <div mat-menu-item (click)="logout(usuario.id)">
          <div class="d-flex align-items-center">
            <span>Logout</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="material-symbols-outlined">cancel</span>
          </div>
        </div>
      </mat-menu>
    </div>

  </div>
</header>
