<section id="novo-usuario" class="d-flex flex-column">
  <h3 class="text-center mt-5">Novo Chamado</h3>
  <div class="action container p-0">
    <button class="btn btn-secondary" routerLink="../">Voltar</button>
  </div>

  <mat-card class="container align-self-center mt-2 shadow">
    <mat-card-content>
      <form [formGroup]="formChamado" id="novo-usuario-form"  autocomplete="off">
        <div class="form-floating">
          <textarea name="ocorrencia" id="ocorrencia" class="form-control" formControlName="ocorrencia"></textarea>
          <label for="ocorrencia" class="form-label">Ocorrência:</label>
        </div>

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="estadoChamado" class="form-label">Estado do chamado:</label>
            <input type="text" readonly class="form-control" name="estadoChamado" id="estadoChamado" formControlName="estadoChamado" autocomplete="off">
          </div>

          <div class="form-group col">
            <label for="tipoEmergencia" class="form-label">Tipo de Emergência:</label>
            <select name="tipoEmergencia" id="tipoEmergencia" class="form-select" formControlName="tipoEmergencia">
              <option value="" selected disabled>-- Selecione o estado -- </option>
              <option [value]="tipoEmergencia" *ngFor="let tipoEmergencia of tiposEmergencia"> {{tipoEmergencia}} </option>
            </select>
          </div>
        </div>

        <div formGroupName="localChamado">
          <div class="form-group mt-3">
            <label for="local">Procurar endereço</label>
            <input type="text" name="local" id="local" class="form-control" placeholder="Busque o endereço sem o número" #mapsSearch autocomplete="off">
          </div>

          <div class="form-group row my-2">
            <div class="form-group col">
              <label for="cep" class="form-label">CEP:</label>
              <input type="text" name="cep" id="cep" class="form-control" formControlName="cep" mask="00000-000" autocomplete="off">
            </div>
            <div class="form-group col">
              <label for="endereco" class="form-label">Endereço:</label>
              <input type="text" name="endereco" id="endereco" class="form-control" formControlName="endereco"  autocomplete="off">
            </div>
          </div>

          <div class="form-group row my-2">
            <div class="form-group col">
              <label for="estado" class="form-label">Estado:</label>
              <input type="text" name="estado" id="estado" class="form-control" formControlName="estado"  autocomplete="off">
            </div>
            <div class="form-group col">
              <label for="bairro" class="form-label">Bairro:</label>
              <input type="text" name="bairro" id="bairro" class="form-control" formControlName="bairro"  autocomplete="off">
            </div>
          </div>

          <div class="form-group row my-2">
            <div class="form-group col">
              <label for="numero" class="form-label col">Número:</label>
              <input type="number" name="numero" id="numero" class="form-control" formControlName="numero" autocomplete="off">
            </div>
            <div class="form-group col">
              <label for="cidade" class="form-label col">Cidade:</label>
              <input type="text" name="cidade" id="cidade" class="form-control" formControlName="cidade"  autocomplete="off">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="ambulanciaIds" class="form-label">Selecione uma ou mais ambulâncias:</label>
          <select name="ambulanciaIds" id="ambulanciaIds" class="form-select" formControlName="ambulanciaIds">
            <option value="" selected disabled> -- Selecione a ambulância --</option>
            <option *ngFor="let ambulancia of ambulanciasDisponiveis" [ngValue]="ambulancia">{{ ambulancia.placa | mask :'AAA-AAAA'}}</option>
          </select>
        </div>
        <!--Ambulancias selecionadas / salvas-->
        <div id="ambulanciasSalvas" class="d-flex mt-2 gap-2"  *ngIf="ambulanciasSalvas.length > 0">
          <div class="ambulancia-selecionada d-flex align-items-center gap-1" *ngFor="let ambulancia of ambulanciasSalvas">
            <span class="material-symbols-outlined text-white cursor-pointer" (click)="removerAmbulancia(ambulancia)">disabled_by_default</span>
            <span class="text-white">{{ambulancia.placa| mask: 'AAA-AAAA'}}</span>
          </div>
        </div>


        <div class="action mt-3 d-flex flex-column align-items-center">
          <button class="btn btn-primary" type="button" (click)="validateForm(formChamado)">Salvar</button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</section>
