
<div class="container mt-5 shadow bg-white p-3 d-flex flex-column" id="dc-1"
    *ngFor="let ambulancia of passedChamado.ambulancias; let i = index;">
    <h5 class="text-center">Localização em tempo real</h5>
    <p class="text-center" style="color: gray;">ULTIMA ATUALIZAÇÂO: {{ultimaAtualizacao}}</p>
    <div class="map p-0">
      <button class="btn btn-outline-secondary px-2 py-0 d-flex" routerLink="../../">
        <span class="material-symbols-outlined">reply</span>
      </button>
      <div id="info-map" class="d-flex justify-content-around">
        <span><strong>{{ambulancia.placa | mask: 'AAA-AAAA'}}</strong> </span>
        <span><strong>{{passedChamado.estadoChamado.toString().replaceAll('_', ' ')}}</strong></span>
      </div>
      <p class="text-center my-1"><strong>{{tempoEstimado}}</strong></p>
      <app-caminho-chamado-ambulancia width=""
        [localHospital]="localHospital"
        [chamado]="passedChamado"
        (estimativaStr)="setTempoEstimado($event)"></app-caminho-chamado-ambulancia>
    </div>
  </div>
