<section id="novo-usuario" *ngIf="valChamado">

  <div class="chamado shadow" *ngFor="let c of chamados">

    <div class="titulo">
      <h2>CHAMADO - {{ c.id.toString().padStart(4, "0") }}</h2>
    </div>

    <div class="d-flex justify-content-around align-items-center w-100 my-3">
      <div class="ocorrencia d-flex justify-content-center align-items-center">
        {{ c.ocorrencia }}
      </div>
      <div [class]="setClass(c.tipoEmergencia.toString())" id="tipo">
        <span class="material-symbols-outlined" id="icone"  matTooltip="{{c.tipoEmergencia.toString()}}"
        matTooltipPosition="above"> emergency_home </span>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">

      <div class="d-flex justify-content-around align-items-center w-100 mt-5">
        <div class="localChamado">
          {{ c.localChamado.cidade }}
        </div>

        <div class="localChamado">
          {{ c.localChamado.cep }}
        </div>

      </div>

      <div class="d-flex justify-content-around align-items-center w-100 mt-3">
        <div class="localChamado">
          {{ c.localChamado.endereco + ', ' + c.localChamado.numero }}
        </div>
      </div>
      <div class="action mt-3" *ngIf="c.estadoChamado.toString() != 'RETORNANDO'">
        <button class="btn btn-info fw-medium" (click)="retornando(c)"> RETORNANDO </button>
      </div>


    </div>

    <div class="d-flex w-100 mt-5">
      <div class="d-flex justify-content-start align-items-center w-50 mx-2">
        <strong>{{ c.dataInicioChamado | date: 'dd/MM/yyyy HH:mm'}}</strong>
      </div>

      <div class="d-flex justify-content-end align-items-center w-50">
        <button class="d-flex justify-content-center align-items-center btn btn-primary">
          <span class="material-symbols-outlined">distance</span>
        </button>

        <button class="d-flex justify-content-center align-items-center btn btn-success mx-3" (click)="finalizarChamado(c.id)">
          <span class="material-symbols-outlined">
            task_alt
          </span>
        </button>
      </div>
    </div>


  </div>

</section>


<section id="novo-usuario" *ngIf="!valChamado">
  <div class="aviso d-flex flex-column justify-content-center align-items-center">
    <span class="material-symbols-outlined icone">
      error
    </span>

    <p class="titulo">Nenhum chamado vinculado.</p>
  </div>
</section>
