.chamado
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 400px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 15px;

  .ocorrencia
  {
    text-align: justify;
    font-size: 16px;
  }

  .tipo
  {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo
  {
    text-align: center;
    color: white;
    background-color: #0064b0;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
  }

  .localChamado
  {
    font-weight: 700;
    font-size: 18px;
  }

  .font-tipo-red
  {
    background-color: rgb(255, 94, 94);
  }

  .font-tipo-orange
  {
    background-color: rgb(255, 185, 54);
  }

  .font-tipo-yellow
  {
    background-color: rgb(255, 255, 56);
  }

}

.aviso
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;

  .icone
  {
    color: #c9c9c9;
    font-size: 100px;
  }

  .titulo
  {
    color: #c9c9c9;
    font-weight: 700;
    font-size: 20px;
  }
}
