<section id="login">

  <div class="container-fluid login_container p-0 ">

    <div class="login_img p-0">
      <!-- <img src="assets/image/logo-sv.png" alt="Brasão Logo São Vicente" class="mx-0 brasao">
      <img src="assets/image/logo-nome-sv.png" alt="Nome Logo São Vicente" class="mx-0 nome"> -->
    </div>

    <div class="login_inputs p-0 w-50">
      <h2 class="text-center login_titulo">LSL Login - Motorista</h2>

      <form class="login_form" [formGroup]="formLogin">
        <div class="form-group position-relative">
          <input type="text" class="login_input usuario" id="usuario" required formControlName="login"/>
          <label for="usuario" class="login_label usuario">Login</label>
        </div>
        <div class="form-group position-relative">
          <input type="password" class="senha login_input" id="senha" required formControlName="password"/>
          <label for="senha" class="senha login_label">Senha</label>
        </div>
        <div class="form-group">
          <label for="idAmbulancia" class="form-label">Selecione a ambulância:</label>
          <select name="idAmbulancia" id="idAmbulancia" class="form-select" formControlName="idAmbulancia">
            <option value="" selected disabled> -- Selecione a ambulância --</option>
            <option *ngFor="let ambulancia of ambulanciasDisponiveis" [value]="ambulancia.id">{{ ambulancia.placa }}</option>
          </select>
        </div>
        <button class="btn btn-primary" (click)="validateForm(formLogin)" [disabled]="formLogin.invalid">
          <span *ngIf="!loadingSubmit">Login</span>
          <div class="spinner-border" role="status" *ngIf="loadingSubmit">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </form>
    </div>

  </div>

</section>
