<section id="detalhes-chamado">

  <!--
      =========================
          CONTAINER 1
      =========================
  -->
  <div class="container mt-5 shadow bg-white p-3 d-flex flex-column" id="dc-1" [class]="page!=1?'d-none':null">
    <div class="my-2">
      <button class="btn btn-secondary" routerLink="../"> Voltar</button>
    </div>
    <form [formGroup]="viewChamado" id="novo-usuario-form">
      <div class="form-floating">
        <textarea name="ocorrencia" id="ocorrencia" class="form-control" formControlName="ocorrencia"
          readonly></textarea>
        <label for="ocorrencia" class="form-label">Ocorrência:</label>
      </div>

      <div class="form-group row my-2">
        <div class="form-group col">
          <label for="estadoChamado" class="form-label">Estado do chamado:</label>
          <input type="text" readonly class="form-control" name="estadoChamado" id="estadoChamado"
            formControlName="estadoChamado">
        </div>

        <div class="form-group col">
          <label for="tipoEmergencia" class="form-label">Tipo de Emergência:</label>
          <input name="tipoEmergencia" id="tipoEmergencia" class="form-control" formControlName="tipoEmergencia"
            readonly>
        </div>
      </div>

      <div formGroupName="localChamado">

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="cep" class="form-label">CEP:</label>
            <input type="text" name="cep" id="cep" class="form-control" formControlName="cep" mask="00000-000" readonly>
          </div>
          <div class="form-group col">
            <label for="endereco" class="form-label">Endereço:</label>
            <input type="text" name="endereco" id="endereco" class="form-control" formControlName="endereco" readonly>
          </div>
        </div>

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="estado" class="form-label">Estado:</label>
            <input type="text" name="estado" id="estado" class="form-control" formControlName="estado" readonly>
          </div>
          <div class="form-group col">
            <label for="bairro" class="form-label">Bairro:</label>
            <input type="text" name="bairro" id="bairro" class="form-control" formControlName="bairro" readonly>
          </div>
        </div>

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="numero" class="form-label col">Número:</label>
            <input type="number" name="numero" id="numero" class="form-control" formControlName="numero" readonly>
          </div>
          <div class="form-group col">
            <label for="cidade" class="form-label col">Cidade:</label>
            <input type="text" name="cidade" id="cidade" class="form-control" formControlName="cidade" readonly>
          </div>
        </div>
      </div>

    </form>
    <!--Ambulancias salvas-->
    <hr>
    <p class="fw-bold text-center" *ngIf="passedChamado.ambulancias.length > 0">Ambulâncias</p>
    <div id="ambulanciasSalvas" class="d-flex mt-2 gap-2 align-self-center"
      *ngIf="passedChamado.ambulancias.length > 0">
      <div class="ambulancia-selecionada d-flex align-items-center gap-1"
        *ngFor="let ambulancia of passedChamado.ambulancias">
        <span class="text-white">{{ambulancia.placa | mask: 'AAA-AAAA'}}</span>
      </div>
    </div>

    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-outline-dark p-2 d-flex align-items-center" (click)="page = 2"
        matTooltip="Ver ambulâncias no mapa" matTooltipPosition="above">
        <span class="material-symbols-outlined">arrow_forward</span></button>
    </div>
  </div>

  <!--
      =========================
          CONTAINER 2...(Mapas)
      =========================
  -->
  <div class="container mt-5 shadow bg-white p-3 d-flex flex-column" id="dc-1" [class]="page!=i+2?'d-none':null"
    *ngFor="let ambulancia of passedChamado.ambulancias; let i = index;">
    <h5 class="text-center">Localização em tempo real</h5>
    <p class="text-center" style="color: gray;">ULTIMA ATUALIZAÇÂO: {{ultimaAtualizacao}}</p>
    <div class="map p-0">
      <div id="info-map" class="d-flex justify-content-between">
        <span>Ambulância: <strong>{{ambulancia.placa | mask: 'AAA-AAAA'}}</strong> </span>
        <span>Tempo estimado: <strong>{{tempoEstimado[i]}}</strong></span>
        <span>Motorista: <strong>{{ambulancia.motorista?.nome}}</strong></span>
        <span>Status: <strong>{{passedChamado.estadoChamado.toString().replaceAll('_', ' ')}}</strong></span>
      </div>
      <app-caminho-ambulancia-chamado width=""
        [ambulancia]="ambulancia"
        [localHospital]="localHospital"
        [chamado]="passedChamado"
        (estimativaStr)="setTempoEstimado($event)"></app-caminho-ambulancia-chamado>
    </div>

    <div class="w-100 d-flex justify-content-between mt-3">
      <button class="btn btn-outline-dark p-2 d-flex align-items-center" (click)="page = i+1"
        matTooltip="{{i == 0? 'Informações do chamado': 'Localização da ambulancia '+(passedChamado.ambulancias[i-1].placa | mask: 'AAA-AAAA')}}"
        matTooltipPosition="above">
        <span class="material-symbols-outlined">arrow_back</span>
      </button>

      <button class="btn btn-outline-dark p-2 d-flex align-items-center" (click)="page = i+3"
        *ngIf="page <= passedChamado.ambulancias.length"
        matTooltip="{{i >= passedChamado.ambulancias.length?null:'Localização da ambulância'}}"
        matTooltipPosition="above">
        <span class="material-symbols-outlined">arrow_forward</span>
      </button>
    </div>
  </div>

</section>
