<section id="detalhes-chamado">

  <div class="container" id="dc-1">
    <form [formGroup]="viewChamado" id="novo-usuario-form">
      <div class="form-floating">
        <textarea name="ocorrencia" id="ocorrencia" class="form-control" formControlName="ocorrencia"></textarea>
        <label for="ocorrencia" class="form-label">Ocorrência:</label>
      </div>

      <div class="form-group row my-2">
        <div class="form-group col">
          <label for="estadoChamado" class="form-label">Estado do chamado:</label>
          <input type="text" readonly class="form-control" name="estadoChamado" id="estadoChamado" formControlName="estadoChamado">
        </div>

        <div class="form-group col">
          <label for="tipoEmergencia" class="form-label">Tipo de Emergência:</label>
          <input name="tipoEmergencia" id="tipoEmergencia" class="form-select" formControlName="tipoEmergencia">
        </div>
      </div>

      <div formGroupName="localChamado">

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="cep" class="form-label">CEP:</label>
            <input type="text" name="cep" id="cep" class="form-control" formControlName="cep"
             mask="00000-000" >
          </div>
          <div class="form-group col">
            <label for="endereco" class="form-label">Endereço:</label>
            <input type="text" name="endereco" id="endereco" class="form-control" formControlName="endereco" [class]="">
          </div>
        </div>

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="estado" class="form-label">Estado:</label>
            <input type="text" name="estado" id="estado" class="form-control" formControlName="estado" [class]="">
          </div>
          <div class="form-group col">
            <label for="bairro" class="form-label">Bairro:</label>
            <input type="text" name="bairro" id="bairro" class="form-control" formControlName="bairro" [class]="">
          </div>
        </div>

        <div class="form-group row my-2">
          <div class="form-group col">
            <label for="numero" class="form-label col">Número:</label>
            <input type="number" name="numero" id="numero" class="form-control" formControlName="numero">
          </div>
          <div class="form-group col">
            <label for="cidade" class="form-label col">Cidade:</label>
            <input type="text" name="cidade" id="cidade" class="form-control" formControlName="cidade" [class]="">
          </div>
        </div>
      </div>

      <!--Ambulancias selecionadas / salvas-->
      <div id="ambulanciasSalvas" class="d-flex mt-2 gap-2"  *ngIf="passedChamado.ambulancias.length > 0">
        <div class="ambulancia-selecionada d-flex align-items-center gap-1" *ngFor="let ambulancia of passedChamado.ambulancias">
          <span class="text-white">{{ambulancia.placa| mask: 'AAA-AAAA'}}</span>
        </div>
      </div>
    </form>
  </div>
</section>
