<header id="header">
  <div class="items h-100 d-flex justify-content-between">

    <button class="btn btn-outline-light hamb-toggle" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas">
      <span class="material-symbols-outlined font-40">menu</span>
    </button>

    <div> </div>

    <div class="user align-self-center">
      usuario
    </div>

  </div>
</header>
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuOffcanvas">
  <button type="button" class="btn-close align-self-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  <h4 class="text-center mt-3">LSL - Live Saver Locator</h4>

  <div class="items mt-5">
    <ul class="navbar-nav gap-3">

      <li class="nav-item" routerLinkActive="active" routerLink="usuarios" data-bs-dismiss="offcanvas">
        <span class="material-symbols-outlined">people</span>
        <a class="nav-link">Usuarios</a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink="ambulancias" data-bs-dismiss="offcanvas">
        <span class="material-symbols-outlined">ambulance</span>
        <a class="nav-link">Ambulâncias</a>
      </li>

      <!-- <li class="nav-item" routerLinkActive="active" routerLink="chamados" data-bs-dismiss="offcanvas">
        <span class="material-symbols-outlined">medical_information</span>
        <a class="nav-link">Chamados</a>
      </li> -->

    </ul>
  </div>

  <div class="footer-menu">

  </div>
</div>
