<header id="header">
  <div class="items h-100 d-flex justify-content-between">

    <button class="btn btn-outline-light hamb-toggle" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas">
      <span class="material-symbols-outlined font-40">menu</span>
    </button>

    <div> </div>

    <div class="user align-self-center">
      usuario
    </div>

  </div>
</header>
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuOffcanvas">
  <h4 class="text-center mt-3">LSL - Live Saver Locator</h4>

  <div class="items mt-5 px-3">
    <ul class="navbar-nav gap-3">

      <li class="nav-item active">
        <span class="material-symbols-outlined">people</span>
        <span>Usuarios</span>
      </li>

      <li class="nav-item">
        <span class="material-symbols-outlined">people</span>
        <span>Usuarios</span>
      </li>

    </ul>
  </div>

  <div class="footer-menu">

  </div>
</div>
