div#menu-lateral {
  max-width: 355px;
  height: 100%;
  padding: 2px;

  .items {
    flex: 1;
    box-shadow: 8px 0px 6px -6px rgba(0,0,0,0.2);
    .nav-item{
      gap: 50px;
      color: #0064b0;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 5px 10%;
      border-radius: 5px;

      .nav-link{
        flex: 1;
        padding: 0;
      }

      &:hover{
        color: white;
        background-color: #5296ca;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  .footer-menu{
    box-shadow: 8px 0px 6px -6px rgba(0,0,0,0.2);
  }

  .active {
    color: white !important;
    background-color: #5296ca !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

}

