<div id="menu-lateral" class="d-flex flex-column justify-content-between">
  <h4 class="text-center mt-4 mb-0 fw-bold text-lsl-primary">LSL</h4>

  <div class="items py-4 px-3 mt-0">
    <div class="item mat-elevation-z2 gap-5" routerLink="dashboard" routerLinkActive="active-panel">
      <span class="material-symbols-outlined">dashboard</span>
      <span>Dashboard</span>
    </div>

    <br>

    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" routerLinkActive="active-panel">
        <mat-expansion-panel-header class="m-0">
          <mat-panel-title class="m-0 d-flex gap-5 p-2 text-lsl-primary">
            <span class="material-symbols-outlined"> ambulance</span>
            <span>Ambulância</span>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="nav-item gap-4 my-2" routerLink="ambulancias/listar-ambulancias" routerLinkActive="active">
          <span class="material-symbols-outlined">list</span>
          <span>Listar ambulâncias</span>
        </div>
        <div class="nav-item gap-4 my-2" routerLink="ambulancias/nova-ambulancia" routerLinkActive="active">
          <span class="material-symbols-outlined">add</span>
          <span>Nova ambulância</span>
        </div>

      </mat-expansion-panel>

      <br>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" routerLinkActive="active-panel">
        <mat-expansion-panel-header class="m-0">
          <mat-panel-title class="m-0 d-flex gap-5 p-2 text-lsl-primary">
            <span class="material-symbols-outlined">medical_information</span>
            <span>Chamado</span>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="nav-item gap-4 my-2" routerLink="chamados/listar-chamados" routerLinkActive="active">
          <span class="material-symbols-outlined">list</span>
          <span>Listar chamados</span>
        </div>
        <div class="nav-item gap-4 my-2" routerLink="chamados/novo-chamado" routerLinkActive="active">
          <span class="material-symbols-outlined">add</span>
          <span>Novo chamado</span>
        </div>

      </mat-expansion-panel>

      <br>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" routerLinkActive="active-panel">
        <mat-expansion-panel-header class="m-0">
          <mat-panel-title class="m-0 d-flex gap-5 p-2 text-lsl-primary" >
            <span class="material-symbols-outlined">people</span>
            <span>Usuário</span>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="nav-item gap-4 my-2" routerLink="usuarios/listar-usuarios" routerLinkActive="active">
          <span class="material-symbols-outlined">list</span>
          <span>Listar usuários</span>
        </div>
        <div class="nav-item gap-4 my-2" routerLink="usuarios/novo-usuario" routerLinkActive="active">
          <span class="material-symbols-outlined">add</span>
          <span>Novo usuário</span>
        </div>

      </mat-expansion-panel>

    </mat-accordion>
    <!-- <ul class="navbar-nav gap-3">

      <li class="nav-item" routerLinkActive="active" routerLink="dashboard">
        <span class="material-symbols-outlined">dashboard</span>
        <a class="nav-link">Dashboard</a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink="ambulancias">
        <span class="material-symbols-outlined">ambulance</span>
        <a class="nav-link">Ambulâncias</a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink="chamados">
        <span class="material-symbols-outlined">medical_information</span>
        <a class="nav-link">Chamados</a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink="usuarios">
        <span class="material-symbols-outlined">people</span>
        <a class="nav-link">Usuarios</a>
      </li>


    </ul> -->
  </div>



  <div class="footer-menu">
    <p class="text-center">Live Saver Locator</p>
  </div>
</div>
