<div id="menu-lateral" class="d-flex flex-column justify-content-between">
  <h4 class="text-center mt-4 mb-0 fw-bold text-lsl-primary">LSL</h4>

  <div class="items py-4 px-3 mt-0">
    <ul class="navbar-nav gap-3">

      <li class="nav-item" routerLinkActive="active" routerLink="dashboard">
        <span class="material-symbols-outlined">dashboard</span>
        <a class="nav-link">Dashboard</a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink="ambulancias">
        <span class="material-symbols-outlined">ambulance</span>
        <a class="nav-link">Ambulâncias</a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink="chamados">
        <span class="material-symbols-outlined">medical_information</span>
        <a class="nav-link">Chamados</a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink="usuarios">
        <span class="material-symbols-outlined">people</span>
        <a class="nav-link">Usuarios</a>
      </li>


    </ul>
  </div>

  <div class="footer-menu">
    <p class="text-center">Live Saver Locator</p>
  </div>
</div>
