div#menu-lateral {
  min-width: 300px;
  max-width: 355px;
  height: 100%;
  padding: 2px;

  .items {
    flex: 1;

    .item{
      color: #0064b0;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 13px 32px;
      border-radius: 3px;

    }

    .nav-item{
      color: #0064b0;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5px 10px;
      border-radius: 3px;

      .nav-link{
        flex: 1;
        padding: 0;
      }

      &:hover{
        color: white;
        background-color: #5296ca;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  .footer-menu{
    box-shadow: 8px 0px 6px -6px rgba(0,0,0,0.2);
  }

  .active{
    color: white !important;
    background-color: #5296ca !important;
  }

  .active-panel{
    background-color: #0064b0;
    * {
      color: white;
    }
  }

}
