<section id="dashboard">

  <main class="main">
    <div class="info-select row justify-content-between">
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <div class="text-lg h2 d-flex justify-content-center align-items-center" style="color: white;" *ngIf="flagDash">
          Ambulânicas
        </div>
        <div class="text-lg h2 d-flex justify-content-center align-items-center" style="color: white;" *ngIf="!flagDash">
          Chamados
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="d-flex justify-content-end align-items-center col-md-3 block-div">
        <button class="block d-flex justify-content-center align-items-center mx-3"
        [class]="ativo" (click)="onChangeDash('ambulancia')" id="ambulancia">
          <span class="material-symbols-outlined icon" >ambulance</span>
        </button>
        <button class="block d-flex justify-content-center align-items-center"
        [class]="inativo" (click)="onChangeDash('chamado')" id="chamado" >
          <span class="material-symbols-outlined" >medical_information</span>
        </button>
      </div>
    </div>
    <div class="row gx-0 info justify-content-between" *ngIf="flagDash">

      <div class="col-md-3 info-div d-flex flex-column justify-content-center align-items-center shadow"
        *ngFor="let res of totalAmbulancia"
        [ngClass]="getBorderColorClass(res.titulo)">

        <div class="titulo-div w-90">
          <h3 class="titulo">{{res.titulo}}</h3>
        </div>

        <div class="valores d-flex justify-content-around align-items-center w-90">

          <p class="valor">{{res.total}}</p>
          <span class="material-symbols-outlined icon">ambulance</span>

        </div>

      </div>

    </div><!--Ambulancia-->

    <div class="row gx-0 info justify-content-between" *ngIf="!flagDash">

      <div class="col-md-3 info-div d-flex flex-column justify-content-center align-items-center shadow" *ngFor="let res of totalChamado">

        <div class="titulo-div w-90">
          <h3 class="titulo">{{res.titulo}}</h3>
        </div>

        <div class="valores d-flex justify-content-around align-items-center w-90">

          <p class="valor">{{res.total}}</p>
          <span class="material-symbols-outlined icon">medical_information</span>

        </div>

      </div>

    </div><!--Chamado-->
  </main>

</section>

<section class="row gx-0 justify-content-around my-3">

    <div class="col-3">
      <div class="dashboard-info shadow">

        <div class="title py-1">
          <p class="text-center">Previsões de chegada</p>
        </div>

        <div class="ambulancia" *ngFor="let chamado of ambulanciasFake">
          <div class="ambulancia__info row gx-0">
            <div class="col-md-4 d-flex flex-column justify-content-center">
              <div class="chamado d-flex justify-content-center align-items-center">
                {{ chamado.chamado}}
              </div>
            </div>

            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
              <div class="info d-flex flex-column justify-content-center align-items-center">
                <span>{{ chamado.placa }}</span>
                <span>{{ chamado.motorista | uppercase }}</span>
              </div>
            </div>

            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
              <div class="tempo-estimado">
                {{ chamado.tempoEstimado }} Min
              </div>
            </div>
          </div>
        </div>

        <div class="mensagem d-flex flex-column justify-content-center align-items-center" *ngIf="ambulanciasFake.length == 0">
          <span class="material-symbols-outlined icone">
            error
          </span>

          <p>Nenhuma ambulância retornando.</p>
        </div>

      </div>
    </div>

    <div class="col-7">
      <div class="dashboard-info shadow">

      </div>
    </div>

</section>
