#dashboard
{
  background-color: #0064b0;
  position: relative;
  width: 100%;
  .main
  {
    height: 400px;
    margin: 0 5em 5em 5em;

    .info-select
    {
      padding: 2em 0;
      .block
      {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        border: none;
      }

      .ativo
      {
        color: #0064b0;
        background-color: white;
      }

      .inativo
      {
        color: white;
        border: 1px solid white;
        background-color: #0064b0;
      }
    }

    .info
    {
      .info-div
      {
        height: 180px;
        background-color: white; // alterado no dia 27/11
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        animation: slideIn 0.2s ease-out;
        //border-left: 15px solid #90ee90;

        .titulo
        {
          text-align: start;
          letter-spacing: 0.5px;
          font-family: 'Rubik', sans-serif;
          color:#0064b0;
        }

        .valor
        {
          font-size: 4em;
          font-weight: 600;
          font-family: 'Rubik', sans-serif;
          color:#0064b0; // alterado no dia 27/11
        }

        .icon
        {
          font-size: 4em;
          color:#0064b0; // alterado no dia 27/11
        }

        &:hover
        {
          scale: 1.02;
          background-color: #e6e6e6;
        }
      }

    }

  }



}

.border-left-vermelho {
  border-left: 15px solid #ff6666; /* Vermelho para ocupada */
}

.border-left-verde {
  border-left: 15px solid #90ee90; /* Verde para disponível */
}

.border-left-amarela {
  border-left: 15px solid #ffee00; /* Amarelo para inativa */
}


// .section-2
// {

//   position: absolute;
//   top: 44%; /* Ajuste o valor conforme necessário */
//   z-index: 1;
//   width: 83.3%;

//   .dashboard-info
//   {
//     background-color: white;
//     height: 500px;
//     border-radius: 10px;
//   }

// }

.dashboard-info
  {
    background-color: white;
    height: 500px;
    border-radius: 10px;
    border: 2px solid #b8b8b8;

    .title
    {
      background-color: #0064b0;
      border-radius: 10px 10px 0 0;
      color: white;
      font-size: 16px;
      font-weight: 700;
    }

    .ambulancia
    {
      .ambulancia__info
      {
        height: 80px;
        border-bottom: 2px solid #e6e6e6;
        cursor: pointer;

        .chamado
        {
          background-color: #0064b0;
          color: white;
          font-weight: 700;
          border-radius: 0 10px 10px 0;
        }

        .info
        {
          font-size: 12px;
        }

        .tempo-estimado
        {
          font-weight: 700;
        }

        &:hover
        {
          background-color: #e6e6e6;
        }
      }
    }

    .mensagem
    {
      color: #c9c9c9;
      height: 200px;
      font-size: 20px;

      .icone
      {
        font-size: 100px;
      }
    }
  }

  .dashboard-info-menor
  {
    background-color: white;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #b8b8b8;

    .title
    {
      color:#a5a5a5;
      font-size: 22px;
      font-weight: 700;
    }

    .info
    {
      .paragrafo
      {
        font-weight: 900;
        font-family:monospace;
        font-size: 34px;
      }

    }

  }

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
