<section id="localizar-ambulancia">
  <h3 class="text-center mt-5">Localização atual da ambulância</h3>
  <h5 class="text-center font-20 m-0">Atualização em tempo real</h5>
  <p class="text-center" style="color: gray"> ULTIMA ATUALIZAÇÃO: {{ulitimaAtualizacao}}</p>

  <div class="info"></div>
  <div class="container container-map shadow p-2">
    <div class="d-flex justify-content-between py-1" *ngIf="requestAmbulancia.closed">
      <button class="btn btn-outline-secondary px-2 py-0 d-flex" routerLink="../../">
        <span class="material-symbols-outlined">reply</span>
      </button>
      <span>Placa: <strong>{{ambulancia.placa | mask : 'AAA-AAAA'}}</strong></span>
      <span>Motorista: <strong>{{ambulancia.motoristas}}</strong></span><!--rever motoristas-->
      <span>Estado: <strong [class]="classEA">{{ambulancia.estadoAmbulancia}}</strong></span>
    </div>
    <!-- <div *ngIf="requestAmbulancia.closed" class="text-center d-flex justify-content-center align-items-center" style="height: 550px; background-color: rgb(214, 214, 214);">
      FINGE QUE TEM UM MAPA <br> [economiza requisição do google maps]
      <br> latitude: {{ambulancia.latitude}}
      <br> longitude: {{ambulancia.longitude}}
    </div> -->
    <app-localizacao-ambulancia *ngIf="requestAmbulancia.closed"
    height="550px"
     width=""
     [latitude]="ambulancia.latitude"
     [longitude]="ambulancia.longitude" ></app-localizacao-ambulancia>
  </div>
</section>
